
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid yellow; */
}
body{
    background-color: #1f1f1f;
    font-family: 'Noto Sans TC', sans-serif;
}
button.hamburger{
    display: none;
}
nav.nav{
    /* border:1px solid red; */
    background-color: #1f1f1f;
    padding: 30px 0 30px 0;
    box-shadow: 2px 2px 4px 3px rgb(1, 6, 26);  
}
div.logo{
    width: 130px;
    height: 40px;
    min-width: 130px;
    min-height: 40px;
    /* border: 1px solid black; */
    vertical-align: top;
}

div.logo  img{
    width: 100%;
    height: 100%;
}

div.nav-box{
    /* border:1px solid blue; */
    /* position: relative; */
    display: flex;
    width: 88%;
    margin: 0 auto;
    /* align-items:flex-start; */
    justify-content: space-between; 
    background-color: #1f1f1f;
}
.hamburger{
    z-index: 500;
    padding: 5px;
    display: block;
    margin: 19px auto 0 auto;
    outline: none;
}
div.menu-all{
    display: flex;
    justify-content: space-between;
    width: 85%;
    /* border: 1px solid yellow; */
    align-items: flex-end;  
}
div.menu-left{
    width: 50%;
    min-width: 400px;
    /* border: 1px solid green; */
    margin-left: 20px;
}
div.menu-left > ul.menu{
    list-style: none;
    display: flex;
    /* border:1px solid blue; */
    justify-content: space-between;
    color:rgba(172, 168, 141, 1);
    font-weight: bold;   
}
div.menu-right{
    width: 15%;
    min-width: 140px;
    /* border: 1px solid yellow; */
    position: relative;
}
div.menu-right > ul.search{
    list-style: none;
    display:flex;
    justify-content: space-between;
    color:rgb(216, 206, 206);
}
ul.search li{
    cursor: pointer;
}




ul.search > li:nth-child(3){
    color:rgb(80, 67, 196);
    
}

.search-bar{
    position: absolute;
    top:50px;
    right:20px;
    width: 200px;
    height: 1px;
    /* transition: height 0.8s; */
    /* overflow: hidden; */
    height:75px ;
    border: 2px solid gray;
    border-radius: 5px;
    background-color:rgb(26, 45, 52) ;
    display: none;
}

.border-up-empty{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid gray;
    position: absolute;
    top:-11px;
    left:85px;
}
.border-up-empty span{
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgb(26, 45, 52);
    position: absolute;
    left: -8px;
    top: 3px;
}

.search-bar input{
    display: block;
    background-color:rgb(26, 45, 52) ;
    outline: none;
    width: 80%;
    border: 1px solid rgb(80, 67, 196) ;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 20px auto;
    color: honeydew;
    font-size: 18px;
}
.search-bar input:focus{
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}



ul.menu a{
    text-decoration:none;
    color:rgb(192, 187, 157);
    position: relative;
}
ul.menu a:hover{
    color: honeydew;
    transition: .8s;
    
}
ul.menu a::after{
    content: "";
    position: absolute;
    left:50%;
    bottom: -5px;
    transform: translateX(-50%) scaleX(0);
    /* transform-origin: 50% 50%; */
    width: 100%;
    height: 2px;
    background-color: rgb(30, 35, 55);
    transition-duration:1s;
    /* transition-delay: .9s; */

}
ul.menu a:hover::after{
    transform: translateX(-50%) scaleX(1);
    background-color: honeydew;
}







div.firstsee{
    width:100%;
    /* height: 600px; */
    margin:8px auto 0;
    /* background: -webkit-linear-gradient(rgb(30, 35, 55),rgb(69, 60, 105));
    background: -o-linear-gradient(rgb(30, 35, 55),rgb(69, 60, 105));
    background: -moz-linear-gradient(rgb(30, 35, 55),rgb(69, 60, 105));
    background: linear-gradient(rgb(30, 35, 55),rgb(69, 60, 105)); */
    text-align: center;
    
    background-image: url(./img/tenor01.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}
div.big{
    /* position: absolute; */
    width: 70%;
    height: 100%;
    margin: 0 auto;
    /* right:190px; */
    /* top: 0; */
    position: relative;
}
div.big img.big-img{
    width: 100%;
    height: 100%;
}

div.firstsee img.back{
    width:100%;
    height: 100%;    
}
div.firstsee img.wave{
    width:10%;
    height: 15%; 
    position: absolute;
    right: 10px;
    top:2px;  
}
hr.banner-end{
    display: block;
    margin: 30px auto;
    width: 88%;
    border-top:1px solid rgba(153, 153, 153, 0.233); 
    border-right:0px; 
    border-bottom:0px; 
    border-left:0px;
}

hr.firsrline{
    display: block;
    margin: 30px auto 0 auto;
    width: 88%;
    border-top:1px solid rgba(153, 153, 153, 0.233); 
    border-right:0px; 
    border-bottom:0px; 
    border-left:0px;
    opacity: 0; 
}
div.banner{
    width: 90% !important;
    height: 70%;
    margin:0 auto;
    overflow: hidden !important;
    /* position: relative; */
    /* border: 1px solid yellow; */
    /* padding: 10px; */
}

/* div.ls-slide img{
    width: 100% !important;
} */

p.runhorse{
    display:block;
    width: 88%;
    margin: 30px auto 0 auto;
    color:rgb(216, 206, 206);
    text-align: center;
    font-size: 20px;
    animation-duration: 3s;
    cursor: pointer;
    /* animation-delay: 1s; */
    /* border: 1px solid yellow; */
}

div.onepart{
    margin: 30px auto 30px auto;
    width: 88%;
    /* border: 1px solid yellow; */
    position: relative;
}
div.every-title{
    display: inline-block;
    width: 330px;
    font-size: 28px;
    font-weight: bold;
    color:rgb(216, 206, 206);   
}
div.every-genres{
    color:rgb(216, 206, 206);
    display: inline-block;
    width: 330px;
    cursor: pointer;

}
div.all-play{
    display: inline-block;
    background-color:rgb(80, 67, 196);
    color:white;
    padding: 5px 10px 5px 10px;
    border-radius:10px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;   
}


div.mas-titleall{
    margin: 0 auto;
    width: 88%;
    /* border: 1px solid yellow; */
}
p.mas-titleworld{
    color:rgb(216, 206, 206);
    margin: 10px 0 20px 0px;
    width: 88%;
    max-width: 600px;
    display: inline-block;
}
div.soundwave{
    display: inline-block;
    width: 150px;
    height: 100px;
    overflow: hidden;
    /* border: 1px solid yellow; */
}
div.soundwave img{
    width: 100%;
    height: 100%;
}
div.mas-allbox{
    display: flex;
    margin: 0 auto;
    width: 88%;
    justify-content: space-between;
    /* border: 1px solid yellow; */
}

div.box1{
    border:1px solid rgba(129, 114, 114, 0.8);
    border-radius: 5%;
    width:330px;
    padding: 30px;
    background: radial-gradient(circle,rgb(21, 55, 75),rgb(0, 6, 27));
}
div.box2{
    border:1px solid rgba(129, 114, 114, 0.8);
    border-radius: 5%;
    width:330px;
    padding: 30px;
    margin-left: 20px;
    background: radial-gradient(circle,rgb(21, 55, 75),rgb(0, 6, 27));
}
div.box3{
    border:1px solid rgba(129, 114, 114, 0.8);
    border-radius: 5%;
    width:330px;
    padding: 30px;
    margin-left: 20px;
    background: radial-gradient(circle,rgb(21, 55, 75),rgb(0, 6, 27));
}

div.mas-box1top{
    /* border:2px solid blue; */
    display: flex;
    justify-content: space-between;
    width: 280px;
    margin:0 auto;
}
div.box1img{
    width:100px;
    height:100px;
}
div.box1img img{
    width: 100%;
    height: 100%;
}
div.box1world{
    /* border:1px solid black; */
    width: 100px;
    height: 60px;
    color: white;   
}
div.box1love{
    color: white;
    transform: translateX(-30px);
}
div.mas-box1top div:nth-child(3){
    align-self:flex-end;
}
hr.box-hr{
    display: block;
    margin: 20px auto;
    width: 280px;
    border-top:1px solid rgba(153, 153, 153, 0.233); 
    border-right:0px; 
    border-bottom:0px; 
    border-left:0px; 
}
p.mas-world{
    display: block;
    margin: 0 auto;
    color:rgb(206, 188, 188);
    width: 280px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}
hr.mas-end{
    display: block;
    margin: 80px auto;
    width: 88%;
    border-top:1px solid rgba(153, 153, 153, 0.233); 
    border-right:0px; 
    border-bottom:0px; 
    border-left:0px; 
}
hr.every-end{
    display: block;
    margin: 70px auto;
    width: 88%;
    border-top:1px solid rgba(153, 153, 153, 0.233); 
    border-right:0px; 
    border-bottom:0px; 
    border-left:0px; 
    /* overflow: i; */
}

h2{
    margin-bottom: 20px;
    color: honeydew;
}
h2.mas-title{
    width: 88%;
    margin: 10px 0 20px 0px;
}

div.liveshow{
    margin: 0 auto;
    width: 88%;
    overflow: hidden;
    /* border: 1px solid yellow; */
}
div.liveshow div.liveimg{
    width: 45%;
    display: inline-block; 
}
div.liveshow div.liveimg img{
    width: 100%;
    max-width: 100%;
}
div.liveshow-right{
    display: inline-block;
    /* border: 1px solid yellow; */
    width: 50%;
    padding-left: 40px;
    vertical-align: top;
}
h2.liveshow-title{
    display: inline-block;
    vertical-align: top;
    color:rgb(221, 236, 221);
}
div.liveworld{
    /* width:430px; */
    /* border: 1px solid blue; */
    color: rgb(206, 188, 188); 
}
div.livego{
    width: 110px;
    border: 1px solid gray;
    padding: 5px 20px;
    border-radius: 10px;
    background-color:rgb(80, 67, 196);
    color:rgb(206, 188, 188);
    font-weight: bold;
    text-align: center;
    margin: 20px auto 0 auto;
    cursor: pointer;
}
div.livego a{
    text-decoration:none;
    color: rgb(206, 188, 188);
}
hr.liveshow-end{
    display: block;
    margin: 70px auto;
    width: 88%;
    border-top:1px solid rgba(153, 153, 153, 0.233); 
    border-right:0px; 
    border-bottom:0px; 
    border-left:0px; 
}
footer.footer{
    /* border: 1px solid yellow; */
    width: 88%;
    margin: 0 auto;
}
div.footer-logo{
    width: 210px;
    height: 67px;
    margin: 0 auto 80px;
}
div.footer-logo img{
    width: 100%;
    height: 100%;
}
div.get1,div.get2,div.footerflw{
    width: 240px;
    margin: 20px auto;
    text-align: center;
    color:honeydew;
    font-weight: bold;
    font-size: 28px;
}
div.footerworld1,div.footerworld2{
    width: 88%;
    margin: 20px auto 40px;
    text-align: center;
    color:honeydew;
    font-weight: bold;
    font-size: 20px;
}
div.appget{
    width: 450px;
    margin: 0 auto 60px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    /* border: 1px solid yellow; */
}
div.googleplay{
    width: 200px;
    cursor: pointer;
}
div.googleplay img{
    width: 100%;
}
div.apple{
    width: 155px;
    height: 60px;
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;
    padding: 5px;
    background-color: black;
    cursor: pointer;
    
}
div.apple img{
    width: 100%;
    height: 100%;
}
div.social-icon11{
    width:200px;
    display: flex;
    justify-content: space-between;
    color:honeydew;
    margin: 0 auto;
}
div.social-icon11 div{
    cursor: pointer;
}
div.footer-inf{
    display: flex;
    width: 300px;
    color: honeydew;
    justify-content: space-between;
    margin: 30px auto;
    font-weight: bold;
}
div.footer-inf div{
    cursor: pointer;
}


@media screen and (max-width: 1199px){
    div.liveshow{
      width: 960px;
    }
    div.mas-allbox{
        flex-wrap: wrap;
    }
    div.box3{
        margin: 20px auto 0 auto;
    }
  }


  @media screen and (max-width: 991px){
    div.liveshow{
      width: 720px;
    }
    
    div.box1{
        margin: 0 auto;
    }
  }


  @media screen and (max-width: 767px){
    .rwd--nav{
        display: block;
    }
    div.menu-right{
        /* display: none; */
        /* border: 1px solid yellow; */
        position: absolute;
        top: 37px;
        right: 15px;
    } 
    div.liveshow{
      width: 540px;
    }
    div.liveshow-right{
        display: block;
        padding-left: 0;
        min-width: 540px;
    }
    div.liveimg{
        min-width: 540px;
        display: block;
    }
    p.runhorse{
        font-size: 16px;
    }
    .menu-left{
        display: none;
    }
    .menu{
        flex-direction: column;
    }
    button.hamburger{
        display: block;   
    }
    div.menu-all{
        /* border: 1px solid yellow; */
        width: auto;
    }
    div.box2{
        margin: 20px auto 0 auto;
    }
    
}


  @media screen and (max-width: 575px){
    div.liveshow{
      width: 88%;
      /* border: 1px solid blue; */
    }
    div.liveshow-right{
        display: block;
        padding-left: 0;
        min-width: 100%;
    }
    div.liveimg{
        min-width: 100%;
        display: block;
        margin: 0 auto;
        /* border: 1px solid yellow;     */
    }
    div.footerworld1,div.footerworld2{
        min-width: 100%;
        font-size: 16px;
    }
    div.appget{
        width: 300px;
        flex-direction: column;
    }
    div.googleplay,div.apple{
        margin: 10px auto;
    }
    
    div.firstsee{
        display: none;
    }
    div.banner{
        max-height: 300px !important;
    }
    
  }




 

 







  

  
 




    