@import url('https://rsms.me/inter/inter-ui.css');
::selection {
  background: #2D2F36;
}
::-webkit-selection {
  background: #2D2F36;
}
::-moz-selection {
  background: #2D2F36;
}

.page {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -320px;
  margin-top: -150px;
  /* border: 1px solid yellow; */
  z-index: 9999;
  transform: translateZ(1000px);
}
@media (max-width: 767px) {
  .page {
    margin-left: -160px;
    margin-top: -320px;
  }
}

.container-x {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
}
@media (max-width: 767px) {
  .container-x {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.log-left {
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .log-left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.login {
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
}
.eula {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
}
.log-right {
  background: #474A59;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .log-right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
svg {
  position: absolute;
  width: 320px;
}
path {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.log-in-form {
  margin: 40px;
  position: absolute;
}
.log-in-form label {
  color:  #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
.log-in-form input {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
.log-in-form input::-moz-focus-inner { 
  border: 0; 
}
.log-in-form #submit {
  color: #707075;
  margin-top: 45px;
  transition: color 300ms;
}
.log-in-form #submit:focus {
  color: #f2f2f2;
}
.log-in-form #submit:active {
  color: #d0d0d2;
}
